.container {
  /* background-color: red; */
  display: flex;
  align-items: flex-start;
  gap: 7.66px;
}

.input {
  flex-direction: row;
  height: 72.766px;
  width: 20px;
  padding: 0px 15.319px;
  justify-content: center;
  align-items: center;
  gap: 15.319px;
  align-self: stretch;
  border-radius: 7.66px;
  border: 1.915px solid var(--dark-shades-grey, #8898aa);
  background: var(--light-shades-white, #fff);

  color: var(--dark-shades-black, #000);
  font-family: "Open Sans";
  font-size: 30.638px;
  font-style: normal;
  font-weight: 400;
  line-height: 40.213px; /* 131.25% */
}

.AuthCode .input input[type="text"] {
  color: var(--dark-shades-black, #000);
  font-family: "Open Sans";
  font-size: 30.638px;
  font-style: normal;
  font-weight: 400;
  line-height: 40.213px; /* 131.25% */
}
