.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  align-self: stretch;
}

.actions {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
}

.receiveTokenButton {
  display: flex;
  padding: 10px 18px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;
  border-radius: 8px;
  border: 1px solid var(--primary-600, #7f56d9);
  background: var(--primary-600, #7f56d9);

  /* Shadow/xs */
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);

  color: var(--White, #fff);
  /* Text md/Semibold */
  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
  cursor: pointer;
  transition: opacity 0.15s;
}

.receiveTokenButton:hover {
  opacity: 0.8;
}

.receiveTokenButton:active {
  opacity: 0.5;
}

.error {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  color: red;
  /* margin-top: -2px; */
}
